.borderTableTitle{sytle: "margin:20px;"}
  %h1{style: "margin-left:20px;"}
    = current_user.name
    = hidden_field_tag(:ev,current_user.id,id: "user_id")
.row
  .col-xs-12
    %table.borderTable{style: "width:90%;margin-left:20px;"}
      %tr
        %th 日時
        %th 場所
        %th 詳細
        %th 出欠席
      - @events.each do |record|
        %tr
          %td
            = hidden_field_tag(:ev,record.id,class: "event_id")
            = record.ev_date
          %td
            = record.event_place
          %td
            = link_to '詳細確認',{controller: :event,action: :show,id: record.id },include_blank: true
          %td
            - ue = UserEvent.select(:attendance_type).find_by(event_id: record.id,user_id: current_user.id)
            - if !ue
              %span
                = hidden_field_tag(:ev,nil,class: "search_status")
            -else
              %span
                =hidden_field_tag(:ev,UserEvent::BTN[ue.attendance_type],class: "search_status")
            %div.borderCard__form-item{style: "margin-left:20px;"}
              = submit_tag UserEvent::GO, class: "btn btn-sm is_click btn_go"
              = hidden_field_tag(:ev,UserEvent::STATUS_GO,class: "status")
            %div.borderCard__form-item{style: "margin-left:20px;"}
              = submit_tag UserEvent::STOP, class: "btn btn-sm is_click btn_stop"
              = hidden_field_tag(:ev,UserEvent::STATUS_STOP,class: "status")
            %div.borderCard__form-item{style: "margin-left:20px;"}
              = submit_tag UserEvent::PEND, class: "btn btn-sm is_click btn_pend"
              = hidden_field_tag(:ev,UserEvent::STATUS_PEND,class: "status")


.row
  .col-xs-12
    %div{style: "width:90%;margin-left:20px;"}
      =paginate @events,outer_window: 4,window: 4
