.borderTableTitle{sytle: "margin:20px;"}
  %h1
    = "武蔵野タイガース：#{@record.ev_date}"

.borderCards{style: "margin:20px;"}
  .row
    .col-xs-8
      .borderCard
        %header.borderCard__header
          .borderCard__form-item{style: "margin-left:10px;"}
            = "日付:[#{@record.ev_date}]"
          .borderCard__form-item{style: "margin-left:10px;"}
            = "場所:[#{@record.event_place}]"
          .borderCard__form-item{style: "margin-left:10px;"}
            = @record.is_notify?

%table.borderTable{style: "width:90%;margin:20px;"}
  %tr
    %th
    %th 出席者（○）
    %th 保留中（△）
    %th 欠席者（×）
    %th 未登録者
  %tr
    %th
      = "メンバー"
    %td
      = @event_joins[:ok].join("\n").html_safe
    %td
      = @event_joins[:pending].join("\n")
    %td
      = @event_joins[:ng].join("\n")
    %td
      = @event_joins[:no].join("<br/>").html_safe
  %tr
    %th
      = "人数合計"
    %td
      = @event_joins[:ok].size
    %td
      = @event_joins[:pending].size
    %td
      = @event_joins[:ng].size
    %td
      = @event_joins[:no].size


= form_tag '/event/update_memo' do
  .borderCard__form-item.is-block-textarea-container{style: "margin-left:20px;"}
    = text_area_tag "event[memo]", @record.memo, :size => "40x5"
    = hidden_field_tag "id",@record.id
    %br
    = submit_tag "更 新", class: "btn btn-primary btn-sm"