.borderTableTitle{sytle: "margin:20px;"}
  %h1 武蔵野タイガース：メンバー

%table.borderTable{style: "width:90%;margin:20px;"}
  %tr
    %th 名前
    %th email
    %th コード
    -#%th 連絡
    - if current_user.manager
      %th 最終ログイン日時
      %th 項目

  - @users.each do |user|
    %tr
      %td
        = user.name
      %td
        = user.email
      %td
        = user.code
      -#%td
      -#  = link_to 'メール送信',{action: :to_mail,mail: user.email}
      -if current_user.manager
        %td
          = user.last_sign_in_at
        %td
          - if current_user.manager || current_user == user.id
            %div.borderCard__form-item{style: "margin-left:5px;"}
              = link_to '編集',{action: :edit,id: user.id },class: "btn btn-sm btn-warning",include_blank: true
            %div.borderCard__form-item{style: "margin-left:5px;"}
              = link_to '削除',{action: :destroy_record,id: user.id },class: "btn btn-sm btn-danger",data: {confirm: "削除しますがよろしいでしょうか？"}



