<!DOCTYPE html>
<html>
<head>
  <title>musashinoT</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script src="/alte/js/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>
  <script src="/alte/js/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <% if user_signed_in? %>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-list-alt"></span> Home</a>
      </li>
      <% if current_user.manager %>
          <li class="active">
            <a href="/event/create"><span class="glyphicon glyphicon-pencil"></span>イベント作成</a>
          </li>
          <li class="active">
            <a href="/user/create"><span class="glyphicon glyphicon-plus">メンバー作成</span></a>
          </li>
          <li class="active">
            <a href="/user/index"><span class="	glyphicon glyphicon-user"></span>メンバー一覧</a>
          </li>
      <% end %>
      <li class="active">
        <a href="/user_event/index?user_id=<%= current_user.id%>"><span class="glyphicon glyphicon-th-list"></span>出欠席</a>
      </li>
      <li class="active">
        <%= link_to '簡易説明書', '/home/show' %>
      </li>
      <!--<li>-->
      <!--<a href="https://devcenter.heroku.com/articles/how-heroku-works"><span class="glyphicon glyphicon-user"></span>-->
      <!--How Heroku Works</a>-->
      <!--</li>-->
      <!--<li class="dropdown">-->
      <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span>-->
      <!--Getting Started Guides <span class="caret"></span></a>-->
      <!--<ul class="dropdown-menu" role="menu">-->
      <!--<li>-->
      <!--<a href="https://devcenter.heroku.com/articles/getting-started-with-ruby">Getting-->
      <!--Started with Ruby on Heroku</a></li>-->
      <!--<li class="divider"></li>-->
      <!--<li>-->
      <!--<a href="https://devcenter.heroku.com/articles/getting-started-with-heroku-and-connect-without-local-dev">Getting-->
      <!--Started on Heroku with Heroku Connect</a></li>-->
      <!--<li>-->
      <!--<a href="https://devcenter.heroku.com/articles/getting-started-with-jruby">Getting-->
      <!--Started with Ruby on Heroku (Microsoft Windows)</a></li>-->
      <!--</ul>-->
      <!--</li>-->
    </ul>
    <% end %>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">ログイン<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <% if user_signed_in? %>
              <strong><%= current_user.name %></strong>.
              <li><%= link_to 'プロフィール変更', edit_user_registration_path %></li>
              <li class="divider"></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<% if !notice.nil? || !alert.nil? %>
<span class="notice"><%= notice %></span><span class="alert"><%= alert %></span>
<% end %>

<%= yield %>

</body>
</html>
